In [147]:
import pandas as pd
from datetime import datetime
import streamlit as st
import plotly.express as px 
import numpy as np

In [148]:
vehicles = pd.read_csv('vehicles_us.csv')

vehicles.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

The model_year, odometer, and cylinders columns has missing values, we need to fill those in.

In [149]:
vehicles['model_year'] = vehicles['model_year'].fillna(vehicles.groupby('model')['model_year'].transform('median'))

vehicles['model_year'].isna().sum()

0

In [150]:
vehicles['odometer'] = vehicles['odometer'].fillna(vehicles.groupby('model_year')['odometer'].transform('mean'))

vehicles['odometer'].isna().sum()

1

In [151]:
vehicles['cylinders'] = vehicles['cylinders'].fillna(vehicles.groupby('model')['cylinders'].transform('median'))

vehicles['cylinders'].isna().sum()

0

I filled in the missing values of the model_year with the median of years of the models and, I filled in the missing values of the odometer column with the median values of its model_year, and I filled in the missing values of the cylinders with the median of models.  This will help me do further analysis, and create plots and distributions

In [152]:
vehicles.isna().sum()

price               0
model_year          0
model               0
condition           0
cylinders           0
fuel                0
odometer            1
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [153]:
vehicles['is_4wd'] = vehicles['is_4wd'].fillna(False).astype(bool)

vehicles['is_4wd']

0         True
1         True
2        False
3        False
4        False
         ...
51520    False
51521    False
51522    False
51523    False
51524    False
Name: is_4wd, Length: 51525, dtype: bool

I knew that the is_4wd was a tring to identifiy if the models of the cars are 4wd or not. I converted the whole column to a boolean type.

In [154]:
vehicles.isna().sum()

price              0
model_year         0
model              0
condition          0
cylinders          0
fuel               0
odometer           1
transmission       0
type               0
paint_color     9267
is_4wd             0
date_posted        0
days_listed        0
dtype: int64

Now the only column that has missing values is the paint color one. We could live without knowing the color of the cars for this EDA. = )

In [155]:
vehicles['model_year'] = vehicles['model_year'].astype(int)

In [156]:
vehicles['model_year']

0        2011
1        2011
2        2013
3        2003
4        2017
         ...
51520    2013
51521    2002
51522    2009
51523    2013
51524    2014
Name: model_year, Length: 51525, dtype: int64

I made sure that the model_year column was of the integer type

In [157]:
vehicles['price'] = pd.to_numeric(vehicles['price'], errors='coerce')

Needed to make sure that the column price was of the numeric type for analysis and visualizations.

In [158]:
Car_Choice = vehicles['model'].unique()
Car_Choice

array(['bmw x5', 'ford f-150', 'hyundai sonata', 'chrysler 200',
       'chrysler 300', 'toyota camry', 'honda pilot', 'kia sorento',
       'chevrolet silverado 1500', 'honda accord', 'ram 1500',
       'gmc yukon', 'jeep cherokee', 'chevrolet traverse',
       'hyundai elantra', 'chevrolet tahoe', 'toyota rav4',
       'chevrolet silverado', 'jeep wrangler', 'chevrolet malibu',
       'ford fusion se', 'chevrolet impala', 'chevrolet corvette',
       'jeep liberty', 'toyota camry le', 'nissan altima',
       'subaru outback', 'toyota highlander', 'dodge charger',
       'toyota tacoma', 'chevrolet equinox', 'nissan rogue',
       'mercedes-benz benze sprinter 2500', 'honda cr-v',
       'jeep grand cherokee', 'toyota 4runner', 'ford focus',
       'honda civic', 'kia soul', 'chevrolet colorado',
       'ford f150 supercrew cab xlt', 'chevrolet camaro lt coupe 2d',
       'chevrolet cruze', 'ford mustang', 'chevrolet silverado 3500hd',
       'nissan frontier crew cab sv', 'subaru impreza',
       'jeep grand cherokee laredo', 'nissan versa', 'ford f-250 sd',
       'chevrolet silverado 1500 crew', 'ford f250 super duty',
       'chevrolet camaro', 'ford mustang gt coupe 2d', 'subaru forester',
       'ford explorer', 'ford f-350 sd', 'ford edge', 'nissan maxima',
       'ford f-250', 'nissan sentra', 'ford f150', 'chevrolet suburban',
       'ford expedition', 'dodge grand caravan', 'ford taurus',
       'acura tl', 'ford f350 super duty', 'ford ranger', 'gmc sierra',
       'hyundai santa fe', 'ford escape', 'gmc sierra 2500hd',
       'honda civic lx', 'gmc sierra 1500', 'honda odyssey',
       'cadillac escalade', 'volkswagen jetta', 'toyota corolla',
       'chrysler town & country', 'volkswagen passat', 'toyota prius',
       'buick enclave', 'ford fusion', 'toyota tundra', 'ram 3500',
       'ram 2500', 'nissan frontier', 'chevrolet silverado 2500hd',
       'jeep wrangler unlimited', 'ford f-250 super duty', 'gmc acadia',
       'toyota sienna', 'ford focus se', 'ford f250', 'dodge dakota',
       'ford f350', 'chevrolet trailblazer', 'ford econoline',
       'nissan murano'], dtype=object)

In [159]:
vehicles['model_year'].min()

1908

In [160]:
vehicles['model_year'].max()

2019

In [161]:
min_year, max_year = vehicles['model_year'].min(), vehicles['model_year'].max()

In [162]:
vehicles.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011,bmw x5,good,6.0,gas,145000.000000,automatic,SUV,NaN,True,2018-06-23,19
1,25500,2011,ford f-150,good,6.0,gas,88705.000000,automatic,pickup,white,True,2018-10-19,50
2,5500,2013,hyundai sonata,like new,4.0,gas,110000.000000,automatic,sedan,red,False,2019-02-07,79
3,1500,2003,ford f-150,fair,8.0,gas,162071.751024,automatic,pickup,NaN,False,2019-03-22,9
4,14900,2017,chrysler 200,excellent,4.0,gas,80903.000000,automatic,sedan,black,False,2019-04-02,28

In [163]:
list_for_hist = ['cylinders','fuel','transmission','type']

selected_type = st.selectbox('Split for Price Distribution', list_for_hist)

fig_1 = px.histogram(vehicles, x='price', color = selected_type)
fig_1.update_layout(title= "<b> Split of price by {}</b>".format(selected_type))
st.plotly_chart(fig_1)

DeltaGenerator()

In [164]:
vehicles['age'] = 2024 - vehicles['model_year']

In [165]:
vehicles.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,age
0,9400,2011,bmw x5,good,6.0,gas,145000.000000,automatic,SUV,NaN,True,2018-06-23,19,13
1,25500,2011,ford f-150,good,6.0,gas,88705.000000,automatic,pickup,white,True,2018-10-19,50,13
2,5500,2013,hyundai sonata,like new,4.0,gas,110000.000000,automatic,sedan,red,False,2019-02-07,79,11
3,1500,2003,ford f-150,fair,8.0,gas,162071.751024,automatic,pickup,NaN,False,2019-03-22,9,21
4,14900,2017,chrysler 200,excellent,4.0,gas,80903.000000,automatic,sedan,black,False,2019-04-02,28,7

In [166]:
def age_category(x):
    if x < 5:
        return '< 5'
    elif  5 <= x < 10:
        return '5-10'
    elif   10 <= x < 20:
        return '10-20' 
    else:
        return '>20'

In [167]:
vehicles['age_category'] = vehicles['age'].apply(age_category)

In [168]:
vehicles.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,age,age_category
0,9400,2011,bmw x5,good,6.0,gas,145000.000000,automatic,SUV,NaN,True,2018-06-23,19,13,10-20
1,25500,2011,ford f-150,good,6.0,gas,88705.000000,automatic,pickup,white,True,2018-10-19,50,13,10-20
2,5500,2013,hyundai sonata,like new,4.0,gas,110000.000000,automatic,sedan,red,False,2019-02-07,79,11,10-20
3,1500,2003,ford f-150,fair,8.0,gas,162071.751024,automatic,pickup,NaN,False,2019-03-22,9,21,>20
4,14900,2017,chrysler 200,excellent,4.0,gas,80903.000000,automatic,sedan,black,False,2019-04-02,28,7,5-10

In [169]:
list_for_scatter = ['condition', 'days_listed']

choice_for_scatter = st.selectbox('Price dependency on', list_for_scatter)

fig_2 = px.scatter(vehicles, x = 'price', y = choice_for_scatter, color = 'age_category', hover_data = 'model_year')
fig_2.update_layout(title="<b> Price vs {}</b>".format(choice_for_scatter))
st.plotly_chart(fig_2)

DeltaGenerator()